@import "tailwindcss";
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  color: var(--color-Lumira-Black);
}

@theme {
  --color-Lumira-Black: #000000;
  --color-Lumira-Pink-600: #dd2590;
  --color-Lumira-Pink-400: #f670c7;
  --color-Lumira-Pink-50: #fdf2fa;
  --color-Lumira-Gray-50: #f9fafb;
  --color-Lumira-Gray-200: #eaecf0;
  --color-Lumira-Gray-300: #d0d5dd;
  --color-Lumira-Gray-400: #475467;
  --color-Lumira-Gray-500: #667085;
  --color-Lumira-Gray-600: #475467;
  --color-Lumira-Gray-900: #101828;
  --color-Lumira-Pink-200: #FCCEEE;
  --color-Lumira-Pink-700: #c11574;
  --color-Lumira-Pink-900: #851651;
  --color-Lumira-Indigo-400: #8098f9;
  --color-Lumira-Indigo-600: #444ce7;
  --color-Lumira-Border-Gray: #e1e1e1;
  --color-Lumira-BlackOpium: #231f1d;
}

.slider-left {
  animation: slide-left 20s infinite linear;
}

.gradient-slider {
  background: linear-gradient(270deg, rgba(174, 13, 102, 0) 0%, #ae0d66 100%);
}

@keyframes slide-left {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-100%);
  }
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s ease-in-out infinite;
}
